
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Todo</h2>
        <form action="/editedtodos/{{.todo.Username}}/{{.todo.Name}}" method="post">
            <div class="form-group">
                <label for="editedtodo">Todo:</label>
                <input type="text" class="form-control" id="editedtodo" name="editedtodo" value={{.todo.Name}} required>
            </div>
            <div class="form-group">
                <label for="editeddate">Date:</label>
                <input type="datetime" class="form-control" id="editeddate" name="editeddate" value={{.todo.Date}} required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</body>
</html>